<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity>
    <typeAliases>
      <!-- Lifetime manager types -->
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />
      <!--Common .Net Types-->
      <typeAlias alias="string" type="System.String, mscorlib" />
      <typeAlias alias="short" type="System.Int16, mscorlib" />
      <typeAlias alias="int" type="System.Int32, mscorlib" />
      <typeAlias alias="long" type="System.Int64, mscorlib" />
      <typeAlias alias="ushort" type="System.UInt16, mscorlib" />
      <typeAlias alias="uint" type="System.UInt32, mscorlib" />
      <typeAlias alias="ulong" type="System.UInt64, mscorlib" />
      <!-- Custom Interface types -->
      <typeAlias alias="IVideoInput" type="Ares.Common.Video.IVideoInput, Video" />
      <typeAlias alias="IGps" type="Ares.Client.Gps.IGps, GpsClient" />
      <typeAlias alias="IGpsAdapter" type="Ares.Client.Gps.IGpsAdapter, GpsClient" />
      <typeAlias alias="IWirelessStrengthMonitor" type="Ares.Common.Network.IWirelessStrengthMonitor, WirelessClient" />
      <!-- Custome Object Types -->
      <typeAlias alias="DSCapture" type="Ares.Common.Webcam.DSCapture, Webcam" />
      <typeAlias alias="GpsListener" type="Ares.Client.Gps.GpsListener, GpsClient" />
      <typeAlias alias="SharperGpsAdapter" type="Ares.Client.Gps.SharpGps.SharperGpsAdapter, SharpGpsAdapterClient" />
      <typeAlias alias="WiFiStrengthMonitor" type="Ares.Client.Network.WiFi.WiFiStrengthMonitor, WiFiClient" />
    </typeAliases>
    <containers>
      <container name="container">
        <types>
          <!--DSCapture(int iDeviceNum, int iWidth, int iHeight, short iBPP)-->
          <type type="IVideoInput" mapTo="DSCapture">
            <lifetime type="singleton" />
            <constructor>
              <param name="iDeviceNum" parameterType="int">
                <value value="0" />
              </param>
              <param name="iWidth" parameterType="int">
                <value value="640" />
              </param>
              <param name="iHeight" parameterType="int">
                <value value="480" />
              </param>
              <param name="iBPP" parameterType="int">
                <value value="24" />
              </param>
            </constructor>
          </type>
          <!--SharperGpsAdapter(string comPort)-->
          <!-- This is to be used to manuelly set the com port of the gps
          <type type="IGpsAdapter" mapTo="SharperGpsAdapter" >
            <lifetime type="singleton" />
            <constructor>
              <param name="comPort" parameterType="string">
                <value value="COM1"/>
              </param>
            </constructor>
          </type>
          -->
          <type type="IGpsAdapter" mapTo="SharperGpsAdapter">
            <lifetime type="singleton" />
            <constructor />
          </type>
          <!--public GpsListener(IGpsAdapter gps)-->
          <type type="IGps" mapTo="GpsListener">
            <lifetime type="singleton" />
            <constructor>
              <param name="gps" parameterType="IGpsAdapter">
                <dependency />
              </param>
            </constructor>
          </type>
          <!--public WiFiStrengthMonitor(uint updateRate)-->
          <type type="IWirelessStrengthMonitor" mapTo="WiFiStrengthMonitor">
            <lifetime type="singleton" />
            <constructor>
              <param name="updateRate" parameterType="unit">
                <value value="1000" />
              </param>
            </constructor>
          </type>
        </types>
      </container>
    </containers>
  </unity>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:8848/PlayerManagement" binding="netTcpBinding" bindingConfiguration="" contract="Ares.Common.Api.Server.IPlayerManagement" name="PlayerManagement">
        <identity>
          <certificateReference storeName="My" storeLocation="LocalMachine" x509FindType="FindBySubjectDistinguishedName" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8848/PositionTracker" binding="netTcpBinding" bindingConfiguration="" contract="Ares.Common.Api.Server.IPositionTracker" name="PositionTracker">
        <identity>
          <certificateReference storeName="My" storeLocation="LocalMachine" x509FindType="FindBySubjectDistinguishedName" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8848/ShotTracker" binding="netTcpBinding" bindingConfiguration="" contract="Ares.Common.Api.Server.IShotTracker" name="ShotTracker">
        <identity>
          <certificateReference storeName="My" storeLocation="LocalMachine" x509FindType="FindBySubjectDistinguishedName" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8848/SignalStrengthTracker" binding="netTcpBinding" bindingConfiguration="" contract="Ares.Common.Api.Server.ISignalStrengthTracker" name="SignalStrengthTracker">
        <identity>
          <certificateReference storeName="My" storeLocation="LocalMachine" x509FindType="FindBySubjectDistinguishedName" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>