<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="Ares.Server.UnityServer">
        <endpoint address="net.tcp://localhost:8848/PlayerManagement"
          binding="netTcpBinding" bindingConfiguration="" name="PlayerManagement"
          contract="Ares.Common.Api.Server.IPlayerManagement" />
      </service>
      <service name="System.ServiceModel.Description.ServiceMetadataExtension+HttpGetImpl">
        <endpoint address="http://localhost:8085/Meta/IPlayerManagement"
          binding="basicHttpBinding" bindingConfiguration="" contract="Ares.Common.Api.Server.IPlayerManagement" />
      </service>
    </services>
    <behaviors />
  </system.serviceModel>

</configuration>
