<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"
                                                          />
  </configSections>

  <unity>
    <typeAliases>
      <!-- Lifetime manager types -->
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />

      <!--Common .Net Types-->
      <typeAlias alias="string" type="System.String, mscorlib" />
      <typeAlias alias="short" type="System.Int16, mscorlib" />
      <typeAlias alias="int" type="System.Int32, mscorlib" />
      <typeAlias alias="long" type="System.Int64, mscorlib" />
      <typeAlias alias="ushort" type="System.UInt16, mscorlib" />
      <typeAlias alias="uint" type="System.UInt32, mscorlib" />
      <typeAlias alias="ulong" type="System.UInt64, mscorlib" />

      <!-- Custom Interface types -->
      <typeAlias alias="IPlayerManagement" type="Ares.Common.Api.Server.IPlayerManagement, ClientServerAPI" />
      <typeAlias alias="IPositionTracker" type="Ares.Common.Api.Server.IPositionTracker, ClientServerAPI" />
      <typeAlias alias="IShotTracker" type="Ares.Common.Api.Server.IShotTracker, ClientServerAPI" />
      <typeAlias alias="ISignalStrengthTracker" type="Ares.Common.Api.Server.ISignalStrengthTracker, ClientServerAPI" />
      <typeAlias alias="IGameManager" type="Ares.Common.Api.Server.IGameManager, ClientServerAPI" />

      <typeAlias alias="IPlayerManagementProxy" type="Ares.Common.Api.Server.IPlayerManagementProxy, ClientServerAPI" />
      <typeAlias alias="IPositionTrackerProxy" type="Ares.Common.Api.Server.IPositionTrackerProxy, ClientServerAPI" />
      <typeAlias alias="IShotTrackerProxy" type="Ares.Common.Api.Server.IShotTrackerProxy, ClientServerAPI" />
      <typeAlias alias="ISignalStrengthTrackerProxy" type="Ares.Common.Api.Server.ISignalStrengthTrackerProxy, ClientServerAPI" />
      <typeAlias alias="IGameManagerProxy" type="Ares.Common.Api.Server.IGameManagerProxy, ClientServerAPI" />

      <!-- Custome Object Types -->
      <typeAlias alias="GameServerProxy" type="Ares.Server.GameServerProxy, AresServer" />

      <typeAlias alias="PlayerManagement" type="Ares.Server.PlayerManagement, AresServer" />
      <typeAlias alias="PositionTracker" type="Ares.Server.PositionTracker, AresServer" />
      <typeAlias alias="ShotTracker" type="Ares.Server.ShotTracker, AresServer" />
      <typeAlias alias="SignalStrengthTracker" type="Ares.Server.SignalStrengthTracker, AresServer" />
      <typeAlias alias="GameManager" type="Ares.Server.GameManager, AresServer" />
      <typeAlias alias="Console" type="Ares.Server.Console.Console, AresServer"/>

    </typeAliases>

    <containers>
      <container name="container">
        <types>
          
          <type type ="Console">
            <lifetime type="singleton" />
           </type>
          
          
          <type type="GameServerProxy">
            <lifetime type="singleton" />
            <constructor>
              <param name="serverConsole" parameterType="Console">
                <dependency />
              </param>
            </constructor>
          </type>

          <type type="IPlayerManagementProxy" mapTo="GameServerProxy" >
          </type>
          <type type="IPositionTrackerProxy" mapTo="GameServerProxy">
          </type>
          <type type="IShotTrackerProxy" mapTo="GameServerProxy" >
          </type>
          <type type="ISignalStrengthTrackerProxy" mapTo="GameServerProxy" >
          </type>
          <type type="IGameManagerProxy" mapTo="GameServerProxy" >
          </type>
          
          
          <type type="IPlayerManagement" mapTo="PlayerManagement" >
            <lifetime type="singleton" />
              <constructor>
                <param name="playerManagementProxy" parameterType="IPlayerManagementProxy">
                  <dependency />
                </param>
              </constructor>
          </type>

          <type type="IPositionTracker" mapTo="PositionTracker">
            <lifetime type="singleton" />
               <constructor>
                <param name="positionTrackerProxy" parameterType="IPositionTrackerProxy" >
                  <dependency />
                </param>
              </constructor>
          </type>

          <type type="IShotTracker" mapTo="ShotTracker" >
            <lifetime type="singleton" />
              <constructor>
                <param name="shotTrackerProxy" parameterType="IShotTrackerProxy" >
                  <dependency />
                </param>
              </constructor>
          </type>

          <type type="ISignalStrengthTracker" mapTo="SignalStrengthTracker" >
            <lifetime type="singleton" />
              <constructor>
                <param name="trackerProxy" parameterType="ISignalStrengthTrackerProxy" >
                  <dependency />
                </param>
              </constructor>
          </type>




          <type type="IGameManager" mapTo="GameManager" >
            <lifetime type="singleton" />
            <constructor>
              <param name="gameManagerProxy" parameterType="IGameManagerProxy" >
                <dependency />
              </param>
            </constructor>
          </type>


        </types>
      </container>
    </containers>
  </unity>
</configuration>