<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"
                                                          />
  </configSections>


  <system.serviceModel>
    <services>
      <service behaviorConfiguration="MEX" name="Ares.Server.UnityServer">
        <endpoint address="PlayerManagement" binding="netTcpBinding"
          name="TCP_PlayerManagement" contract="Ares.Common.Api.Server.IPlayerManagement"
          listenUriMode="Explicit" />
        <endpoint address="PositionTracker" binding="netTcpBinding" name="TCP_PositionTracker"
          contract="Ares.Common.Api.Server.IPositionTracker" listenUriMode="Explicit" />
        <endpoint address="ShotTracker" binding="netTcpBinding" name="TCP_ShotTracker"
          contract="Ares.Common.Api.Server.IShotTracker" listenUriMode="Explicit" />
        <endpoint address="SignalStrengthTracker" binding="netTcpBinding"
          name="TCP_SignalStrengthTracker" contract="Ares.Common.Api.Server.ISignalStrengthTracker"
          listenUriMode="Explicit" />
        <endpoint address="MEX" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8848/" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="MEX" name="Ares.Server.ClientRegistration">
        <endpoint address="ClientRegistration" binding="netTcpBinding"
          bindingConfiguration="" name="TCP_ClientRegistration" contract="Ares.Common.Api.Server.IClientRegistration" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8848/" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="MEX"  >
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>


  </system.serviceModel>


  <unity>
    <typeAliases>
      <!-- Lifetime manager types -->
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
      <typeAlias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />

      <!--Common .Net Types-->
      <typeAlias alias="string" type="System.String, mscorlib" />
      <typeAlias alias="short" type="System.Int16, mscorlib" />
      <typeAlias alias="int" type="System.Int32, mscorlib" />
      <typeAlias alias="long" type="System.Int64, mscorlib" />
      <typeAlias alias="ushort" type="System.UInt16, mscorlib" />
      <typeAlias alias="uint" type="System.UInt32, mscorlib" />
      <typeAlias alias="ulong" type="System.UInt64, mscorlib" />

      <!-- Custom Interface types -->

      <!-- Custome Object Types -->
      <typeAlias alias="Console" type="Ares.Server.Console.Console, AresServer"/>
      
    </typeAliases>

    <containers>
      <container >
        <types>


        </types>
      </container>
    </containers>
  </unity>
</configuration>